body{
    font-family: 'Lucida Console', monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./img/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    cursor: default;
}



/*Encabezado*/
header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

.logo{
    line-height: 0.6;
    display: flex;
}

.logo h2{
    margin-left: 30px;
    padding-top: 5%;
}

.logo img{
    float: left;
    height: 100px;
}

nav{
    padding-top: 40px;
}

nav a{
    display: inline;
    margin: 20px;
    color: white;
    text-decoration: none;
}


/*Fin del encabezado*/

/*PRODUCTOS Y SERVICIOS*/

#productos .prodserv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding-bottom: 5%;
}


#productos .prodserv img{
    height: 200px;

}

#productos .prodserv .card{
    margin-top: 5%;
    padding-top: 10px;
    width: 400px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 0px 5px #f7d462;
    background-color: rgb(255, 255, 255);
    transition: all 500ms ease;

}

#productos .prodserv .card:hover{
    box-shadow: 0px 0px 35px #ffc506;
    /*transform: translateY(-3%);*/
    transform:scale(1.01 , 1.01);
}

#productos .card .texto{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 15px;
}

#productos .card .texto p{
    line-height: 1.5;
    color: #6a6a6a ;
}


#productos .card .texto .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: orange;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}
/*Fin de productos y servicios*/

/*Empresa como tal*/

#empresa .empresa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2%;
    overflow: hidden;
}

#empresa .empresa img{
    height: 600px;
    padding-right: 50px;
    padding-top: 5%;
    transition: all 200ms ease;
}

#empresa .empresa img:hover{
    filter: drop-shadow(0px 0px 20px);
}

#empresa .empresa .card{
    background-color: rgba(0, 0, 0, 0.829);
    text-align: center;
    color:white;
    max-height: 750px;

}

#empresa .empresa .card .texto{
    text-align: justify;
    line-height: 1.7;
}

#empresa .empresa .card .texto h2{
    padding-top: 20px;
    text-align: center;
}

#empresa .empresa .card .texto p{
    padding: 0px 40px 50px 40px;
    font-size: 14px;
}

#empresa .empresa .card .texto .obj{
    padding: 0px 40px 50px 40px;
    font-size: 14px;
    line-height: 2;
}

#empresa .empresa .card .texto ul{
    font-size: 14px;
}

#empresa .empresa .card .texto ul li{
    text-decoration: none;
    line-height: 2;
}

/*Fin de empresa como tal*/

/*About Us*/
#title{
    padding-top: 10px;
    color: black;
    text-align: center;
}

#title{
    text-shadow: 5px 4px 8px rgb(175, 143, 0);
    font-size: 30px;
}

#title h1{
    display: inline-block;
    padding: 8px 16px;
    color: black;
    background-color: rgb(255, 255, 255, 0.8);
    border-style: solid ridge;
    border-color: black;
    border-radius: 30px;
}

.nosotros {
    display: grid;
    justify-content: center;
    min-height: 300px;
    margin-bottom: 5%;
}

.nosotros div{
    color: black;
    width: 1000px;
    background: white;
    margin: 20px;
    padding: 20px;
}

div #mision{
    border-radius: 40px;
    box-shadow: 0px 0px 20px #668b00;
    line-height: 1.4;
    text-align: justify;
    transition: all 500ms ease;
}

#mision:hover{
    box-shadow: 0px 0px 35px #668b00;
    /*transform: translateY(-3%);*/
    transform:scale(1.01 , 1.01);
}

#mision img{
    width: 25%;
    float: right;
    padding-left: 20px;
    padding-top: 2%;
}

div #vision{
    border-radius: 40px;
    box-shadow: 0px 0px 20px #668b00;
    line-height: 1.4;
    text-align: justify;
    transition: all 500ms ease;
}

#vision:hover{
    box-shadow: 0px 0px 35px #668b00;
    /*transform: translateY(-3%);*/
    transform:scale(1.01 , 1.01);
}

#vision img{
    float: left;
    width: 200px;
    padding-right: 20px;
}

#valores{
    /*margin-left: 100px;*/
    border-radius: 20px;
    box-shadow: 0px 0px 20px #668b00;
    transition: all 500ms ease;
}

#valores:hover{
    box-shadow: 0px 0px 35px #668b00;
    /*transform: translateY(-3%);*/
    transform:scale(1.01 , 1.01);
}

#valores img{
    width: 22%;
    float: right;
    padding-left: 20px;
    padding-block: 100px;
}

div #valores ul li{
    padding-bottom: 10px;
    line-height: 1.3;
    text-align: justify;
}

/*Fin del about us*/

.servicios{
    margin: 20px;
    color: black;
}


/*Pie de Pagina*/

footer {
    background-color: #000000;
    text-align: center;
    padding: 1%;
    color: white;
}


footer a{
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(46, 200, 206, 0.253);
    text-decoration: none;
    border-radius: 10px;
    color: white;
    transition: all 400ms ease;
}

footer a:hover{
    box-shadow: 0px 0px 35px rgba(46, 201, 206, 0.815);
    /*transform: translateY(-3%);*/
    background-color: rgba(46, 201, 206, 0.699);
    transform:scale(1.01 , 1.01);

}
